# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs.md

.idea
**/node_modules/*
**/.firebaserc

.runtimeconfig.json
.firebaseConfig.ts/
/src/firebaseConfig.ts
firebaseConfig.ts
src\firebaseConfig.ts
\src\firebaseConfig.ts
\src\firebaseConfig.ts
.firebase/

firebase

firebase/

firebase/*

/firebase/firebaseConfig.ts

/src/firebaseConfig.ts

src/firebaseConfig.ts

/src/firebase/*

firebaseConfig

src/firebaseConfig

/src/firebaseConfig.ts

/src/firebaseConfig

/firebaseConfig.ts

REACT\disney-clone\src\firebaseConfig.ts

F:\Projects\REACT\disney-clone\src\firebaseConfig.ts

REACT/disney-clone/src/firebaseConfig.ts

F:/Projects/REACT/disney-clone/src/firebaseConfig.ts

/src/firebaseConfig.ts

.env